<footer class="sen-footer">
<div class="container py-5">
    <div class="row my-5">
        <div class="col-md-4 p-3">
            <div class="footer-logo">
                <i class="fas fa-clinic-medical fa-4x"></i> 
                <span>Senegric-Clinic</span>
                
            </div>
        </div>

        <div class="col-md-4 p-3">
            <div class="about">
                <h4>About us</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, illo!</p>
                <p>Lorem ipsum dolor sit amet.</p>                
            </div>
        </div>
        <div class="col-md-4 p-3">
            <div class="phone">
                <p>+0022<span class="phoneColor">557</span> <span class="phoneColor">744</span></p>
                <span>SenergicClinic@senergic.com</span>
                <div class="row py-3">
                    <div class="col-md-6">
                        <input type="text" class="form-control">
                    </div>
                        
                    <div class="col-md-6">
                        <button class="btn btn-primary">Send</button>
                    </div>

                </div>       
            </div>
        </div>
    <hr/>
     <div class="copy-right">
         <p>Copyright &copy;2020 All rights reserved</p>
         <div class="icons">
          <a href=""><i class="fab fa-twitter"></i></a>  
          <a href=""><i class="fab fa-facebook-f"></i></a>  
          <a href=""><i class="fas fa-globe"></i></a> 
          <a href=""><i class="fab fa-instagram"></i></a> 
         </div>
     </div>

    </div>
</div>

</footer>