<!--====Section DOCTORS===-->
<section class="doctors ">
  <div class="container text-center py-5">
    <div class="about text-center py-5">
      <h3>our doctors</h3>
      <p>Green above he cattle god saw day multiply under fill in the cattle fowl a all, living, tree word link
        available in the service for subdue fruit..</p>
    </div>
    <div class="row">
      <!--Our Doctors Grid Start-->
      <div class="col-md-4 py-5">
        <div class="drimg">
          <img class="img-fluid" [src]="imgDr1" alt="drImage">
        </div>
        <div class="drContent">
          <div class="drName">
            <h4>Ethel Davis</h4>
            <span>SR.faculty plastic surgery</span>
          </div>
       <!--Start BIo-->   
          <div class="drBio">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo temporibus dolorum quo ratione.
              Laboriosam, velit?</p>
            <div class="icons">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>
        <!--End BIO-->
        </div>
      </div>

      <div class="col-md-4 py-5">
        <div class="drimg">

          <img class="img-fluid" [src]="imgDr2" alt="drImage">
        </div>
        <div class="drContent">
          <div class="drName">
            <h4>Ethel Davis</h4>
            <span>SR.faculty plastic surgery</span>
          </div>
          <div class="drBio">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo temporibus dolorum quo ratione.
              Laboriosam, velit?</p>
            <div class="icons">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-4 py-5">
        <div class="drimg">
          <img class="img-fluid" [src]="imgDr4" alt="drImage">
        </div>
        <div class="drContent">
          <div class="drName">
            <h4>Ethel Davis</h4>
            <span>SR.faculty plastic surgery</span>
          </div>
          <div class="drBio">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo temporibus dolorum quo ratione.
              Laboriosam, velit?</p>
            <div class="icons">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>

        </div>
      </div>


      <div class="col-md-4 py-5">
        <div class="drimg">
          <img class="img-fluid" [src]="imgDr7" alt="drImage">
        </div>
        <div class="drContent">
          <div class="drName">
            <h4>Ethel Davis</h4>
            <span>SR.faculty plastic surgery</span>
          </div>
          <div class="drBio">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo temporibus dolorum quo ratione.
              Laboriosam, velit?</p>
            <div class="icons">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-4 py-5">
        <div class="drimg">
          <img class="img-fluid" [src]="imgDr8" alt="drImage">
        </div>
        <div class="drContent">
          <div class="drName">
            <h4>Ethel Davis</h4>
            <span>SR.faculty plastic surgery</span>
          </div>
          <div class="drBio">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo temporibus dolorum quo ratione.
              Laboriosam, velit?</p>
            <div class="icons">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-4 py-5">
        <div class="drimg">
          <img class="img-fluid" [src]="imgDr6" alt="drImage">
        </div>
        <div class="drContent">
          <div class="drName">
            <h4>Ethel Davis</h4>
            <span>SR.faculty plastic surgery</span>
          </div>
          <div class="drBio">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo temporibus dolorum quo ratione.
              Laboriosam, velit?</p>
            <div class="icons">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>

        </div>
      </div>


      <div class="col-md-4 py-5" >
        <div class="drimg">
          <img class="img-fluid" [src]="imgDr10" alt="drImage">
        </div>
        <div class="drContent">
          <div class="drName">
            <h4>Ethel Davis</h4>
            <span>SR.faculty plastic surgery</span>
          </div>
          <div class="drBio">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo temporibus dolorum quo ratione.
              Laboriosam, velit?</p>
            <div class="icons">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-4 py-5">
        <div class="drimg">
          <img class="img-fluid" [src]="imgDr3" alt="drImage">
        </div>
        <div class="drContent">
          <div class="drName">
            <h4>Ethel Davis</h4>
            <span>SR.faculty plastic surgery</span>
          </div>
          <div class="drBio">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo temporibus dolorum quo ratione.
              Laboriosam, velit?</p>
            <div class="icons">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-4 py-5 ">
        <div class="drimg">
          <img class="img-fluid" [src]="imgDr0" alt="drImage">
        </div>
        <div class="drContent">
          <div class="drName">
            <h4>Ethel Davis</h4>
            <span>SR.faculty plastic surgery</span>
          </div>
          <div class="drBio">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo temporibus dolorum quo ratione.
              Laboriosam, velit?</p>
            <div class="icons">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>

        </div>
      </div>

        <!--Our Doctors Grid End-->
    </div>
  </div>

</section>

<!--====Section DOCTORS===-->
