//1s section Senergic styles
.s-Clinic
{
    width: 100%;
    height: 600px;
   background-image: url('../../assets/banner.jpg');
    background-size: cover;
   display: flex;
   align-items: center;
   margin-top: 112px;
}
.content
{
    width: 45%;
}
.content .before 
{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    color: #202c8c;
}
.content .before::before
{
    content:'';
    position: absolute;
    width: 20%;
    background-color: #5F8BF4;
    height: 2px;
    top: 15px;
    left: 50px;
}
.content h2
{
  font-size: 70px;
  text-transform:uppercase;
  font-weight: bold;; 
}
.health
{
    color: #202c8c;
}
button
{
    width: 30%;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(82, 170, 243));
    border: none;
}
button i 
{
    margin-left: 10px;
}
// 1s Section end





// 2nd Section Services Styles
.home
{
    background-color: #ececec;
}
.services h3 
{
    font-size: 36px;
    font-weight: bold;
    font-family: cursive;
}
.contentContiner
{
    background-color: #FFFFFF;
    margin-left: 20px;
    border-radius: 15px;
    overflow: hidden;
    width: 370px;
    cursor: pointer;
}

.contentImg 
{
    width: 100%;
  position: relative;
  
}
.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
   color: #e9e3e3;
   opacity: 0;
   transition: opacity 1s ease-in;
}
.contentImg:hover .overlay
{
    opacity: 1;
}
.contentImg img
{
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.contentBody
{
width: 80%;
margin: auto;
padding: 20px;

}
.contentBody p
{
  font-size: 20px;
  font-weight: bold;
  
}
.contentBody span
{
    color: #878787;
    
    font-weight: 400;
    padding-bottom: 10px;
}
//2nd Section end



//3rd Section News Strat
.newContainer
{
    background-color: #EDEDED;
    
}
.newContainer i 
{
    margin-right: 10px;
}
.newsContent
{
    width: 95%;
    margin: auto;
    padding:20px;
}
.newsContent h2
{
    font-size:30px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}
.newsContent p 
{
    font-weight:300 ;
}
.icon
{
    position: relative;
}
.fa-plus
{
    position: absolute;
    background-color: rgb(12, 184, 182);
    padding: 15px;
    border-radius: 50%;
    top: 93%;
    left: 15px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    transition: .5s all ease-in;
}
.fa-plus:hover
{
    background-color: white;
    color: rgb(12, 184, 182);
}
.latest h2
{
    font-weight: bolder;
    font-size: 36px;
    position: relative;
    width: 50%;
    margin: auto;
}
.latest h2::before
{
    content: '';
    height: 5px;
    width: 200px;
    background-color: #0F60ED;
    position: absolute;
    top: 50px;
    left: 280px;

    
}
.latest p 
{
    width: 50%;
    margin: auto;
    padding-top: 15px;
}

// 3rd Section End